<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "oshinagaki",root_path,id: "logo"%>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",root_path %></li>
        <% if logged_in? %>
          <li><%= link_to current_user.nickname,current_user%></li>
          <li><%= link_to "ログアウト",logout_path%></li>
        <%else%>
          <li><%= link_to "ログイン",'auth/twitter' %></li>
        <%end%>
      </ul>
    </nav>
  </div>
</header>
